In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import mglearn 
import os

# Read the CSV and Perform Basic Data Cleaning

In [41]:
df = pd.read_csv("../Resources/new_all_data2.csv")
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
# df = df.drop(['ISO_Code_x'], axis = 1)
df

,Country,2010_DR,2011_DR,2012_DR,2013_DR,2014_DR,2015_DR,2016_DR,2017_DR,2018_DR,...,2011_WAE,2012_WAE,2013_WAE,2014_WAE,2015_WAE,2016_WAE,2017_WAE,2018_WAE,2019_WAE,2020_WAE
0,Albania,54.0,53.5,53.0,52.6,52.1,51.6,51.1,50.6,50.1,...,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0
1,Angola,99.7,99.3,102.0,105.0,108.0,111.0,114.0,117.0,119.0,...,46.3,46.3,46.3,46.3,46.3,46.3,46.3,46.3,46.3,46.3
2,Armenia,43.8,44.5,45.2,45.9,46.5,47.2,47.9,48.6,49.3,...,15.3,16.4,17.5,18.7,19.8,20.9,22.1,23.2,24.4,25.5
3,Azerbaijan,50.9,50.9,50.9,50.9,50.9,50.9,50.9,50.9,50.9,...,17.9,17.9,17.9,17.9,17.9,17.9,17.9,17.9,17.9,17.9
4,Bangladesh,68.5,67.8,66.3,64.9,63.4,61.8,60.2,58.5,56.9,...,7.1,19.3,31.6,43.8,56.0,68.3,80.5,92.7,105.0,117.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,Uganda,119.0,118.0,116.0,115.0,113.0,112.0,111.0,109.0,108.0,...,63.4,60.7,57.9,55.2,52.5,49.7,47.4,45.0,42.6,40.3
68,Vietnam,48.9,48.8,48.8,48.7,48.6,48.5,48.5,48.4,48.3,...,55.0,54.3,53.6,52.9,52.2,51.5,50.8,50.1,49.4,48.7
69,Yemen,88.1,87.4,86.8,86.1,85.4,84.8,84.1,83.4,82.7,...,57.7,56.2,54.6,53.0,51.4,49.8,48.2,46.6,45.1,43.5
70,Zambia,109.0,109.0,109.0,109.0,109.0,108.0,106.0,104.0,102.0,...,48.8,49.1,49.3,49.6,46.9,44.2,41.5,38.8,37.0,35.1
71,Zimbabwe,89.3,88.3,88.8,89.3,89.7,90.2,90.0,89.8,89.5,...,20.6,19.3,17.9,16.5,15.1,14.4,13.7,13.0,12.3,11.5

In [42]:
df.columns.values

array(['Country', '2010_DR', '2011_DR', '2012_DR', '2013_DR', '2014_DR',
       '2015_DR', '2016_DR', '2017_DR', '2018_DR', '2019_DR', '2020_DR',
       '2010_SC', '2011_SC', '2012_SC', '2013_SC', '2014_SC', '2015_SC',
       '2016_SC', '2017_SC', '2018_SC', '2019_SC', '2020_SC', '2010_3BD',
       '2011_3BD', '2012_3BD', '2013_3BD', '2014_3BD', '2015_3BD',
       '2016_3BD', '2017_3BD', '2018_3BD', '2019_3BD', '2020_3BD',
       '2010_HOS', '2011_HOS', '2012_HOS', '2013_HOS', '2014_HOS',
       '2015_HOS', '2016_HOS', '2017_HOS', '2018_HOS', '2019_HOS',
       '2020_HOS', 'ISO_Code', 'GNI/C 2010', 'GNI/C 2011', 'GNI/C 2012',
       'GNI/C 2013', 'GNI/C 2014', 'GNI/C 2015', 'GNI/C 2016',
       'GNI/C 2017', 'GNI/C 2018', 'GNI/C 2019', 'GNI/C 2020',
       'LifeEx 2010', 'LifeEx 2011', 'LifeEx 2012', 'LifeEx 2013',
       'LifeEx 2014', 'LifeEx 2015', 'LifeEx 2016', 'LifeEx 2017',
       'LifeEx 2018', 'LifeEx 2019', 'LifeEx 2020', '2010_pop',
       '2011_pop', '2012_pop', '2013_pop', '2014_pop', '2015_pop',
       '2016_pop', '2017_pop', '2018_pop', '2019_pop', '2020_pop',
       '2010_urb', '2011_urb', '2012_urb', '2013_urb', '2014_urb',
       '2015_urb', '2016_urb', '2017_urb', '2018_urb', '2019_urb',
       '2020_urb', '2010_WLE', '2011_WLE', '2012_WLE', '2013_WLE',
       '2014_WLE', '2015_WLE', '2016_WLE', '2017_WLE', '2018_WLE',
       '2019_WLE', '2020_WLE', '2010_WUE', '2011_WUE', '2012_WUE',
       '2013_WUE', '2014_WUE', '2015_WUE', '2016_WUE', '2017_WUE',
       '2018_WUE', '2019_WUE', '2020_WUE', '2010_MYE', '2011_MYE',
       '2012_MYE', '2013_MYE', '2014_MYE', '2015_MYE', '2016_MYE',
       '2017_MYE', '2018_MYE', '2019_MYE', '2020_MYE', '2010_MAE',
       '2011_MAE', '2012_MAE', '2013_MAE', '2014_MAE', '2015_MAE',
       '2016_MAE', '2017_MAE', '2018_MAE', '2019_MAE', '2020_MAE',
       '2010_MLE', '2011_MLE', '2012_MLE', '2013_MLE', '2014_MLE',
       '2015_MLE', '2016_MLE', '2017_MLE', '2018_MLE', '2019_MLE',
       '2020_MLE', '2010_MUE', '2011_MUE', '2012_MUE', '2013_MUE',
       '2014_MUE', '2015_MUE', '2016_MUE', '2017_MUE', '2018_MUE',
       '2019_MUE', '2020_MUE', '2010_WAE', '2011_WAE', '2012_WAE',
       '2013_WAE', '2014_WAE', '2015_WAE', '2016_WAE', '2017_WAE',
       '2018_WAE', '2019_WAE', '2020_WAE'], dtype=object)

In [5]:
# df_2010 = df[["2010_DR", "2010_SC", 'GNI/C 2011']].copy()
# df_2010.columns = ["DR", "SC", "GNI"]
# df_2011 = df[["2011_DR", "2011_SC", 'GNI/C 2012']].copy()
# df_2011.columns = ["DR", "SC", "GNI"]



df_2020 = df[["Country", "2011_DR", "2011_SC"]].copy()

In [32]:
df_2010 = df.filter( ["GNI/C 2011","2010_DR", "2010_SC","2010_3BD","2010_HOS","LifeEx 2010","2010_pop","2010_urb","2010_WLE","2010_WUE","2010_MYE","2010_MAE","2010_MLE","2010_MUE","2010_WAE"],axis=1).copy()
df_2010.columns = ["GNI","DR","SC","3BD","HOS","LifeEx","pop","urb","WLE","WUE","MYE","MAE","MLE","MUE","WAE"]

df_2011 = df.filter( ["GNI/C 2012","2011_DR", "2011_SC","2011_3BD","2011_HOS","LifeEx 2011","2011_pop","2011_urb","2011_WLE","2011_WUE","2011_MYE","2011_MAE","2011_MLE","2011_MUE","2011_WAE"],axis=1).copy()
df_2011.columns = ["GNI","DR","SC","3BD","HOS","LifeEx","pop","urb","WLE","WUE","MYE","MAE","MLE","MUE","WAE"]

df_2012 = df.filter( ["GNI/C 2013","2012_DR", "2012_SC","2012_3BD","2012_HOS","LifeEx 2012","2012_pop","2012_urb","2012_WLE","2012_WUE","2012_MYE","2012_MAE","2012_MLE","2012_MUE","2012_WAE"],axis=1).copy()
df_2012.columns = ["GNI","DR","SC","3BD","HOS","LifeEx","pop","urb","WLE","WUE","MYE","MAE","MLE","MUE","WAE"]

df_2013 = df.filter( ["GNI/C 2014","2013_DR", "2013_SC","2013_3BD","2013_HOS","LifeEx 2013","2013_pop","2013_urb","2013_WLE","2013_WUE","2013_MYE","2013_MAE","2013_MLE","2013_MUE","2013_WAE"],axis=1).copy()
df_2013.columns = ["GNI","DR","SC","3BD","HOS","LifeEx","pop","urb","WLE","WUE","MYE","MAE","MLE","MUE","WAE"]

df_2014 = df.filter( ["GNI/C 2015","2014_DR", "2014_SC","2014_3BD","2014_HOS","LifeEx 2014","2014_pop","2014_urb","2014_WLE","2014_WUE","2014_MYE","2014_MAE","2014_MLE","2014_MUE","2014_WAE"],axis=1).copy()
df_2014.columns = ["GNI","DR","SC","3BD","HOS","LifeEx","pop","urb","WLE","WUE","MYE","MAE","MLE","MUE","WAE"]

df_2015 = df.filter( ["GNI/C 2016","2015_DR", "2015_SC","2015_3BD","2015_HOS","LifeEx 2015","2015_pop","2015_urb","2015_WLE","2015_WUE","2015_MYE","2015_MAE","2015_MLE","2015_MUE","2015_WAE"],axis=1).copy()
df_2015.columns = ["GNI","DR","SC","3BD","HOS","LifeEx","pop","urb","WLE","WUE","MYE","MAE","MLE","MUE","WAE"]

df_2016 = df.filter( ["GNI/C 2017","2016_DR", "2016_SC","2016_3BD","2016_HOS","LifeEx 2016","2016_pop","2016_urb","2016_WLE","2016_WUE","2016_MYE","2016_MAE","2016_MLE","2016_MUE","2016_WAE"],axis=1).copy()
df_2016.columns = ["GNI","DR","SC","3BD","HOS","LifeEx","pop","urb","WLE","WUE","MYE","MAE","MLE","MUE","WAE"]

df_2017 = df.filter( ["GNI/C 2018","2017_DR", "2017_SC","2017_3BD","2017_HOS","LifeEx 2017","2017_pop","2017_urb","2017_WLE","2017_WUE","2017_MYE","2017_MAE","2017_MLE","2017_MUE","2017_WAE"],axis=1).copy()
df_2017.columns = ["GNI","DR","SC","3BD","HOS","LifeEx","pop","urb","WLE","WUE","MYE","MAE","MLE","MUE","WAE"]

df_2018 = df.filter( ["GNI/C 2019","2018_DR", "2018_SC","2018_3BD","2018_HOS","LifeEx 2018","2018_pop","2018_urb","2018_WLE","2018_WUE","2018_MYE","2018_MAE","2018_MLE","2018_MUE","2018_WAE"],axis=1).copy()
df_2018.columns = ["GNI","DR","SC","3BD","HOS","LifeEx","pop","urb","WLE","WUE","MYE","MAE","MLE","MUE","WAE"]

df_2019 = df.filter( ["GNI/C 2020","2019_DR", "2019_SC","2019_3BD","2019_HOS","LifeEx 2019","2019_pop","2019_urb","2019_WLE","2019_WUE","2019_MYE","2019_MAE","2019_MLE","2019_MUE","2019_WAE"],axis=1).copy()
df_2019.columns = ["GNI","DR","SC","3BD","HOS","LifeEx","pop","urb","WLE","WUE","MYE","MAE","MLE","MUE","WAE"]

df_2010

df_2020 = df.filter( ["Country", "2020_DR", "2020_SC","2020_3BD","2020_HOS","LifeEx 2020","2020_pop","2020_urb","2020_WLE","2020_WUE","2020_MYE","2020_MAE","2020_MLE","2020_MUE","2020_WAE"],axis=1).copy()
df_2020.columns = ["Country","DR","SC","3BD","HOS","LifeEx","pop","urb","WLE","WUE","MYE","MAE","MLE","MUE","WAE"]

In [33]:
df_training = df_2010.append((df_2011, df_2012, df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019,), ignore_index=True)

df_training.head()

,GNI,DR,SC,3BD,HOS,LifeEx,pop,urb,WLE,WUE,MYE,MAE,MLE,MUE,WAE
0,10,54.0,21.4,23.2,4.58,76.6,2.92,46.7,55.5,22.60,9.45,21.60,69.6,8.83,22.0
1,6,99.7,37.2,22.9,6.30,55.4,23.50,43.7,46.4,7.26,5.57,34.50,45.5,19.90,46.3
2,7,43.8,20.6,28.5,4.55,73.3,2.88,61.9,39.2,46.70,11.40,9.63,72.4,18.00,14.1
3,15,50.9,26.4,13.8,5.02,70.9,8.49,55.2,33.1,49.00,10.60,13.10,66.5,20.40,17.9
4,3,68.5,42.5,27.1,6.09,69.9,148.00,23.9,77.5,12.20,4.44,29.40,58.3,12.20,10.3

In [8]:

X = df_training.drop(['GNI'], axis = 1)

y = df_training['GNI'].values.reshape(-1,1)

print(X.shape,y.shape)

(680, 14) (680, 1)

# Create a Train Test Split

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [10]:
from sklearn.svm import SVC 
from sklearn.metrics import accuracy_score

model = SVC(kernel='linear')
# model.fit(X_train, y_train)

# y_pred = model.predict(X_test)

from sklearn.model_selection import GridSearchCV

param_grid = {'C': [1, 5, 10],
              'gamma': [0.0001, 0.001, 0.01]}
grid = GridSearchCV(model, param_grid, verbose=3)

grid.fit(X_train, y_train)

# print(accuracy_score(y_test,y_pred))

Fitting 5 folds for each of 9 candidates, totalling 45 fits
[CV] C=1, gamma=0.0001 ...............................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\model_selection\_split.py:670: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(("The least populated class in y has only %d"
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=1, gamma=0.0001, score=0.657, total=   1.7s
[CV] C=1, gamma=0.0001 ...............................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.6s remaining:    0.0s
C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=1, gamma=0.0001, score=0.716, total=   3.5s
[CV] C=1, gamma=0.0001 ...............................................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    5.0s remaining:    0.0s
C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=1, gamma=0.0001, score=0.667, total=   0.8s
[CV] C=1, gamma=0.0001 ...............................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=1, gamma=0.0001, score=0.667, total=   1.4s
[CV] C=1, gamma=0.0001 ...............................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=1, gamma=0.0001, score=0.578, total=   2.2s
[CV] C=1, gamma=0.001 ................................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=1, gamma=0.001, score=0.657, total=   1.8s
[CV] C=1, gamma=0.001 ................................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=1, gamma=0.001, score=0.716, total=   2.6s
[CV] C=1, gamma=0.001 ................................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=1, gamma=0.001, score=0.667, total=   1.2s
[CV] C=1, gamma=0.001 ................................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=1, gamma=0.001, score=0.667, total=   2.3s
[CV] C=1, gamma=0.001 ................................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=1, gamma=0.001, score=0.578, total=   2.8s
[CV] C=1, gamma=0.01 .................................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ..................... C=1, gamma=0.01, score=0.657, total=   1.9s
[CV] C=1, gamma=0.01 .................................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ..................... C=1, gamma=0.01, score=0.716, total=   3.8s
[CV] C=1, gamma=0.01 .................................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ..................... C=1, gamma=0.01, score=0.667, total=   1.5s
[CV] C=1, gamma=0.01 .................................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ..................... C=1, gamma=0.01, score=0.667, total=   2.6s
[CV] C=1, gamma=0.01 .................................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ..................... C=1, gamma=0.01, score=0.578, total=   3.1s
[CV] C=5, gamma=0.0001 ...............................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=5, gamma=0.0001, score=0.647, total=   8.9s
[CV] C=5, gamma=0.0001 ...............................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=5, gamma=0.0001, score=0.745, total=   6.7s
[CV] C=5, gamma=0.0001 ...............................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=5, gamma=0.0001, score=0.667, total=   4.7s
[CV] C=5, gamma=0.0001 ...............................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=5, gamma=0.0001, score=0.637, total=   7.9s
[CV] C=5, gamma=0.0001 ...............................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=5, gamma=0.0001, score=0.637, total=   6.2s
[CV] C=5, gamma=0.001 ................................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=5, gamma=0.001, score=0.647, total=   6.1s
[CV] C=5, gamma=0.001 ................................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=5, gamma=0.001, score=0.745, total=   5.8s
[CV] C=5, gamma=0.001 ................................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=5, gamma=0.001, score=0.667, total=   4.5s
[CV] C=5, gamma=0.001 ................................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=5, gamma=0.001, score=0.637, total=   8.5s
[CV] C=5, gamma=0.001 ................................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=5, gamma=0.001, score=0.637, total=   6.0s
[CV] C=5, gamma=0.01 .................................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ..................... C=5, gamma=0.01, score=0.647, total=   7.5s
[CV] C=5, gamma=0.01 .................................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ..................... C=5, gamma=0.01, score=0.745, total=   8.6s
[CV] C=5, gamma=0.01 .................................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ..................... C=5, gamma=0.01, score=0.667, total=   5.4s
[CV] C=5, gamma=0.01 .................................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ..................... C=5, gamma=0.01, score=0.637, total=  11.6s
[CV] C=5, gamma=0.01 .................................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ..................... C=5, gamma=0.01, score=0.637, total=   8.1s
[CV] C=10, gamma=0.0001 ..............................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................. C=10, gamma=0.0001, score=0.637, total=  13.6s
[CV] C=10, gamma=0.0001 ..............................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................. C=10, gamma=0.0001, score=0.745, total=  14.7s
[CV] C=10, gamma=0.0001 ..............................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................. C=10, gamma=0.0001, score=0.667, total=   9.7s
[CV] C=10, gamma=0.0001 ..............................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................. C=10, gamma=0.0001, score=0.657, total=  18.7s
[CV] C=10, gamma=0.0001 ..............................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................. C=10, gamma=0.0001, score=0.618, total=  12.0s
[CV] C=10, gamma=0.001 ...............................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=10, gamma=0.001, score=0.637, total=   8.0s
[CV] C=10, gamma=0.001 ...............................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=10, gamma=0.001, score=0.745, total=  13.1s
[CV] C=10, gamma=0.001 ...............................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=10, gamma=0.001, score=0.667, total=  12.5s
[CV] C=10, gamma=0.001 ...............................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=10, gamma=0.001, score=0.657, total=  26.5s
[CV] C=10, gamma=0.001 ...............................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=10, gamma=0.001, score=0.618, total=  16.7s
[CV] C=10, gamma=0.01 ................................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=10, gamma=0.01, score=0.637, total=  11.6s
[CV] C=10, gamma=0.01 ................................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=10, gamma=0.01, score=0.745, total=   9.8s
[CV] C=10, gamma=0.01 ................................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=10, gamma=0.01, score=0.667, total=   8.2s
[CV] C=10, gamma=0.01 ................................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=10, gamma=0.01, score=0.657, total=  17.9s
[CV] C=10, gamma=0.01 ................................................

C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=10, gamma=0.01, score=0.618, total=  14.1s

[Parallel(n_jobs=1)]: Done  45 out of  45 | elapsed:  5.8min finished
C:\Users\wargr\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

GridSearchCV(estimator=SVC(kernel='linear'),
             param_grid={'C': [1, 5, 10], 'gamma': [0.0001, 0.001, 0.01]},
             verbose=3)

In [15]:
print('Test Acc: %.3f' % grid.score(X_test, y_test))

Test Acc: 0.653

In [35]:
final_x = df_2020.drop(['Country'], axis = 1)
predict_2021 = grid.predict(final_x)

In [38]:
predict_2021.shape
print(len(predict_2021))

68

In [40]:
df_2021_prediction = df_2020.filter(['Country'])
df_2021_prediction['GNI'] = predict_2021
df_2021_prediction

       Country  GNI
0      Albania   13
1       Angola    1
2      Armenia   10
3   Azerbaijan   15
4   Bangladesh    4
..         ...  ...
66      Uganda    2
68     Vietnam    5
69       Yemen    3
70      Zambia    3
71    Zimbabwe    3

[68 rows x 2 columns]

In [16]:
print(grid.best_params_)

{'C': 5, 'gamma': 0.0001}

In [19]:
prediction = grid.predict(X_test)
prediction

array([ 5,  2,  1,  3,  3,  4,  3,  4,  3,  4,  2,  3,  5,  2,  1, 15,  2,
        2,  6,  9,  7,  4,  2,  4,  2,  1,  3,  2, 10,  2, 10, 10,  3,  1,
        7,  2,  3, 14,  2,  2,  3,  3,  3,  1,  2,  6,  6,  5,  9,  3,  4,
        1, 14,  1, 12,  2,  5,  3,  2, 16,  3,  2,  3,  6,  4,  5,  7,  5,
        2,  3,  5,  2,  2, 17,  1,  9,  5,  6,  8,  1,  1,  9,  2, 11,  2,
        6,  3,  1,  3,  2,  1,  1,  2,  3, 16, 11,  3,  3,  5,  4,  3, 13,
       10,  2, 12,  2,  3, 10,  5,  3, 10,  2,  4,  5,  2,  3,  2,  7,  3,
        2,  7,  2,  7,  1,  3,  3,  4, 22, 12,  4,  3,  7,  5,  5,  9,  7,
        3,  2,  8, 10,  9,  2,  4,  1,  2,  1,  4,  3, 17,  1,  2, 13,  2,
        1, 13,  8,  2,  7,  4, 11,  2,  3,  7,  3,  3,  5,  2,  3,  1, 12],
      dtype=int64)

In [29]:
y_pred = grid.predict(X_test)

y_pred = pd.DataFrame(y_pred)
# y_out = X_test
# y_out = y_out.join(y_test)
# y_out = y_out.join(y_pred)
# y_out

# pred_table = y_pred.join(X)
y_pred

      0
0     5
1     2
2     1
3     3
4     3
..   ..
165   5
166   2
167   3
168   1
169  12

[170 rows x 1 columns]

In [26]:
pred_table.columns = ["GNI","DR","SC","3BD","HOS","LifeEx","pop","urb","WLE","WUE","MYE","MAE","MLE","MUE","WAE"]
pred_table

,GNI,DR,SC,3BD,HOS,LifeEx,pop,urb,WLE,WUE,MYE,MAE,MLE,MUE,WAE
0,5,54.0,21.4,23.2,4.58,76.6,2.92,46.7,55.5,22.60,9.45,21.60,69.6,8.83,22.00
1,2,99.7,37.2,22.9,6.30,55.4,23.50,43.7,46.4,7.26,5.57,34.50,45.5,19.90,46.30
2,1,43.8,20.6,28.5,4.55,73.3,2.88,61.9,39.2,46.70,11.40,9.63,72.4,18.00,14.10
3,3,50.9,26.4,13.8,5.02,70.9,8.49,55.2,33.1,49.00,10.60,13.10,66.5,20.40,17.90
4,3,68.5,42.5,27.1,6.09,69.9,148.00,23.9,77.5,12.20,4.44,29.40,58.3,12.20,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,5,66.4,21.6,22.2,5.63,73.8,8.65,49.1,68.8,13.90,6.34,43.30,45.7,11.10,17.30
166,2,55.2,41.9,22.3,5.85,67.5,1266.00,31.6,40.0,9.87,5.87,32.10,59.1,8.81,50.10
167,3,65.1,7.8,36.3,6.31,73.7,8.09,82.4,29.7,67.50,10.60,3.28,75.0,21.70,2.74
168,1,51.2,11.1,24.4,4.55,68.8,16.80,53.5,64.2,50.10,11.70,6.20,68.6,25.20,1.24
169,12,89.4,29.2,17.4,5.56,62.7,44.40,29.4,44.3,20.10,7.82,26.90,51.4,21.80,35.60

In [30]:
y_pred['GNI/C 2021'] = prediction
y_pred

      0  GNI/C 2021
0     5           5
1     2           2
2     1           1
3     3           3
4     3           3
..   ..         ...
165   5           5
166   2           2
167   3           3
168   1           1
169  12          12

[170 rows x 2 columns]